<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cohelp.task_for_stu">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- SD卡读写权限 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="WrongManifestParent" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAG"
        tools:ignore="WrongManifestParent" /> <!-- 在SD卡创建和删除文件的权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions,WrongManifestParent" /> <!-- 允许访问网络，连接数据库 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 接入wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.cohelp.task_for_stu.TaskApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CO-help"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task_for_stu"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText">
        <activity
            android:name=".ui.activity.user.HoleCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.MyCollectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.PublishManageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.SettingUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.PersonalHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.HistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.Task_for_stu.NoActionBar" />
        <activity
            android:name="com.cohelp.task_for_stu.ui.activity.manager.ManagerCreateNewUserActivity"
            android:exported="false" />
        <activity
            android:name="com.cohelp.task_for_stu.ui.activity.manager.ManagerUserDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.cohelp.task_for_stu.ui.activity.manager.ManagerUserCenterActivity"
            android:exported="false" />
        <activity
            android:name="com.cohelp.task_for_stu.ui.activity.manager.ManagerQuestionCenterActivity"
            android:exported="false" />
        <activity
            android:name="com.cohelp.task_for_stu.ui.activity.manager.ManagerTaskCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.TaskDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.CreateNewTaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.ItemQuestionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.CreateNewQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.TaskCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.MyQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.MyTaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.BasicInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.PasswordFoundActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.ActSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.MutualSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.MutualReleaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.TreeholeReleaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.TreeholeSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.EventReleaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Task_for_stu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>