<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cohelp.server.mapper.RemarkHelpMapper">

    <resultMap id="BaseResultMap" type="com.cohelp.server.model.entity.RemarkHelp">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="remarkContent" column="remark_content" jdbcType="VARCHAR"/>
            <result property="remarkHelpId" column="remark_help_id" jdbcType="INTEGER"/>
            <result property="remarkLike" column="remark_like" jdbcType="INTEGER"/>
            <result property="remarkTargetId" column="remark_target_id" jdbcType="INTEGER"/>
            <result property="topId" column="top_id" jdbcType="INTEGER"/>
            <result property="targetIsHelp" column="target_is_help" jdbcType="TINYINT"/>
            <result property="remarkOwnerId" column="remark_owner_id" jdbcType="INTEGER"/>
            <result property="remarkTime" column="remark_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,remark_content,remark_help_id,
        remark_like,remark_target_id,top_id,
        target_is_help,remark_owner_id,remark_time
    </sql>
</mapper>
