<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cohelp.server.mapper.RemarkLikeMapper">

    <resultMap id="BaseResultMap" type="com.cohelp.server.model.entity.RemarkLike">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="remarkType" column="remark_type" jdbcType="INTEGER"/>
            <result property="isLiked" column="is_liked" jdbcType="TINYINT"/>
            <result property="remarkId" column="remark_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,remark_type,
        is_liked,remark_id
    </sql>
</mapper>
