<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cohelp.server.mapper.DiscussionLikeMapper">

    <resultMap id="BaseResultMap" type="com.cohelp.server.model.entity.DiscussionLike">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="targetId" column="target_id" jdbcType="INTEGER"/>
            <result property="targetType" column="target_type" jdbcType="INTEGER"/>
            <result property="isLiked" column="is_liked" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,target_id,
        target_type,is_liked
    </sql>
</mapper>
