<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cohelp.server.mapper.HoleMapper">

    <resultMap id="BaseResultMap" type="com.cohelp.server.model.entity.Hole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="holeOwnerId" column="hole_owner_id" jdbcType="INTEGER"/>
            <result property="holeTitle" column="hole_title" jdbcType="VARCHAR"/>
            <result property="holeDetail" column="hole_detail" jdbcType="VARCHAR"/>
            <result property="holeLike" column="hole_like" jdbcType="INTEGER"/>
            <result property="holeCollect" column="hole_collect" jdbcType="INTEGER"/>
            <result property="holeComment" column="hole_comment" jdbcType="INTEGER"/>
            <result property="holeLabel" column="hole_label" jdbcType="VARCHAR"/>
            <result property="holeState" column="hole_state" jdbcType="TINYINT"/>
            <result property="holeCreateTime" column="hole_create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hole_owner_id,hole_title,
        hole_detail,hole_like,hole_collect,
        hole_comment,hole_label,hole_state,
        hole_create_time
    </sql>

    <select id="listByHot" resultType="com.cohelp.server.model.entity.Hole">
        select <include refid="Base_Column_List"></include>
        from hole
        where hole_owner_id in
        <foreach collection="userIdList" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=INTEGER}
        </foreach>
        order by (4*hole_like+3*hole_comment+3*hole_collect) desc
    </select>
</mapper>
