<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cohelp.server.mapper.LabelMapper">

    <resultMap id="BaseResultMap" type="com.cohelp.server.entity.Label">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="labelType" column="label_type" jdbcType="INTEGER"/>
            <result property="labelSrcId" column="label_src_id" jdbcType="INTEGER"/>
            <result property="labelContent" column="label_content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,label_type,label_src_id,
        label_content
    </sql>
</mapper>
