<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cohelp.server.mapper.AskMapper">

    <resultMap id="BaseResultMap" type="com.cohelp.server.model.entity.Ask">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="question" column="question" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="semester" column="semester" jdbcType="VARCHAR"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="publisherId" column="publisher_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,question,course_id,
        semester,publish_time,like_count,
        publisher_id
    </sql>
</mapper>
